<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>13</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>12</string>
					<key>Timestamp</key>
					<string>747721281.326234</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>tyte/tyte/Views/MainTabView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    @State private var selectedTab = 0
</string>
				<key>leading</key>
				<string>    @EnvironmentObject var viewModel : TodoListViewModel
    
</string>
				<key>trailing</key>
				<string>    @State private var todoInput = ""
    @FocusState private var isInputFocused: Bool
    
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>27</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>19</string>
					<key>Timestamp</key>
					<string>747994849.909003</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>tyte/tyte/Networking/Base/APIManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    private init() {
#if DEBUG
        isDevelopment = true
#else
        isDevelopment = false
#endif
        baseURL = isDevelopment ? "http://localhost:8080/api" : "http://43.201.140.227:8080/api"
    }
</string>
				<key>leading</key>
				<string>    private let baseURL: String
    
</string>
				<key>trailing</key>
				<string>    
    func getToken() -&gt; String? {
        return UserDefaults.standard.string(forKey: "authToken")
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
